
.class1{
	color: blue;
}
.class2 {
	color:blueviolet
}

.class1 {
  .class2 {
		color: green;
  }
}

.female{
	font-size: 1.2rem;
	color: blueviolet;
}

.male{
	font-size: 1.2rem;
	color: rgb(43, 61, 226);
}